[submodule "admin-ui"]
	path = admin-ui
	url = https://github.com/paz-tech-cwb/admin-ui
[submodule "backend"]
	path = backend
	url = https://github.com/paz-tech-cwb/backend
[submodule "kmp-mobile"]
	path = kmp-mobile
	url = https://github.com/paz-tech-cwb/kmp-mobile.git
