[submodule "admin-ui"]
	path = admin-ui
	url = https://github.com/paz-tech-cwb/admin-ui
[submodule "backend"]
	path = backend
	url = https://github.com/paz-tech-cwb/backend
[submodule "mobile-app"]
	path = mobile-app
	url = https://github.com/paz-tech-cwb/mobile-app
[submodule "postman-files"]
	path = postman-files
	url = https://github.com/paz-tech-cwb/postman-files
